.wrapper {
  width: 100%;
  position: relative;
}

.wrapper i {
  top: 50%;
  height: 50px;
  width: 50px;
  cursor: pointer;
  font-size: 1.25rem;
  position: absolute;
  text-align: center;
  line-height: 50px;
  background: #222;
  border-radius: 50%;
  transform: translateY(-50%);
  transition: transform 0.1s linear;
  z-index: 5;
}

.wrapper i:active {
  transform: translateY(-50%) scale(0.85);
}

.wrapper i:first-child {
  left: -22px;
}

.wrapper i:last-child {
  right: -22px;
}

.wrapper .carousel {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: calc((100% / 4) - 12px);
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  gap: 35px;
  border-radius: 8px;
  scroll-behavior: smooth;
  scrollbar-width: none;
}

.carousel::-webkit-scrollbar {
  display: none;
}

.carousel.no-transition {
  scroll-behavior: auto;
}

.carousel.dragging {
  scroll-snap-type: none;
  scroll-behavior: auto;
}

.carousel.dragging .card {
  cursor: grab;
  user-select: none;
}

.carousel .card {
  scroll-snap-align: start;
  list-style: none;
  background: #222;
  cursor: pointer;
  flex-direction: column;
  border-radius: 8px;
  transition: 0.8s;
}

.card .img img {
  width: 100%;
}

.carousel .card h2 {
  color: #ec6750;
  font-family: "Hoves Demi", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 133.3%;
  /* 26.66px */
  letter-spacing: -0.22px;
  margin: 15px 0 0 15px;
}

.carousel .card span {
  color: #fff;
  font-family: "Hoves Regular", sans-serif;
  font-size: 12px;
  margin: 15px;
  font-weight: 100;
}

@media screen and (max-width: 992px) {
  .wrapper .carousel {
    grid-auto-columns: calc((100% / 3) - 9px);
  }
}

@media screen and (max-width: 600px) {
  .wrapper .carousel {
    grid-auto-columns: 100%;
  }
}
