* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: Hoves Demi;
  src: url(../fonts/TTHoves-DemiBold.ttf), url(../fonts/TTHoves-DemiBold.woff);
}

@font-face {
  font-family: Hoves Bold;
  src: url(../fonts/TTHoves-Bold.ttf);
  src: url(../fonts/TTHoves-Bold.woff);
}

@font-face {
  font-family: Hoves Regular;
  src: url(../fonts/TTHoves-Regular.ttf);
  src: url(../fonts/TTHoves-Regular.woff);
}

@font-face {
  font-family: Hoves Medium;
  src: url(../fonts/TTHoves-Medium.ttf);
  src: url(../fonts/TTHoves-Medium.woff);
}

html {
  scroll-behavior: smooth;
  display: flex;
  justify-content: space-around;
}

body {
  width: 100%;
  background-color: #111 !important;
  color: #fff !important;

  ::-webkit-scrollbar {
    display: none;
  }
}

.navbar {
  background: #111 !important;
}
.navbar img {
  width: 35%;
  height: auto;
}

.circle-image {
  display: block;
  margin: 0 auto;
  width: clamp(150px, 100%, 255px);
}

.head-text {
  font-size: 5rem;
  font-family: "Hoves Demi", sans-serif;
}

span {
  color: #ec6750;
}

h5 {
  font-family: "Hoves Medium", sans-serif;
  color: #ec6750 !important;
  width: 60%;
}

.stick {
  width: 55px;
  height: 55px;
  margin-right: 20px;
}

.text-70 {
  font-size: 3.8rem;
  font-family: "Hoves Demi", sans-serif;
}

.text-20 {
  font-size: 25px;
  font-family: "Hoves Medium", sans-serif;
  color: #fff;
}
.text-25 {
  color: #fff;
  font-family: "Hoves Medium", sans-serif;
  font-size: 39px;
  font-style: normal;
  font-weight: 600;
}
.text-40 {
  font-size: 2.8rem;
  font-family: "Hoves Demi", sans-serif;
  color: #fff;
}
.first-step {
  margin-left: 12%;
}
.step-image {
  width: 100%;
}
h3 {
  color: #fff;
  font-family: "Hoves Regular";
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 136.8%; /* 34.2px */
  letter-spacing: -0.275px;
}
.cont-row {
  margin: 80px 0;
}
.mt-80 {
  margin-top: 80px !important;
}
.web-wrap {
  background-color: #85a3d5;
  border-radius: 15px;
  margin-top: 7rem;
  padding: 15px;
  margin-bottom: 100px;
}

.black-button {
  background-color: #111;
  color: #fff;
  font-size: 1.6rem;
  text-align: center;
  font-family: "Hoves Regular", serif;
  border-radius: 25px;
  max-width: 50%;
  padding: 8px 0;
  letter-spacing: 3px;
}

.slash h2 {
  color: #111;
  font-family: "Hoves Bold", serif;
  font-weight: bold;
  font-size: 42px;
}

.slash p {
  font-size: 20px;
  font-weight: 600;
  font-family: "Hoves Medium", serif;
}

.slash p span {
  color: #111;
  font-family: "Hoves Medium", serif;
  margin-left: 10px;
}

.coral-button {
  background-color: #ea381a;
  margin: 0 auto;
  border-radius: 25px;
  text-align: center;
  padding: 8px 0;
  max-width: 50%;
  text-decoration: none;
  border: none;
  cursor: pointer;
  transition: 0.6s;
}

.coral-button:hover {
  background-color: #b82d15;
  transition: 0.6s;
}

.expert h6 {
  margin: 3rem 0;
  font-size: 24px;
  font-family: "Hoves Medium", serif;
}

.digit {
  color: #85a3d5;
  font-family: "Hoves Medium", serif;
  font-size: 2.5em;
}

.stroke-container {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  position: relative;
}

hr {
  background-color: #fff;
  width: 100%;
}

.dark-wrap {
  background-color: #222;
  border-radius: 15px;
  margin-top: 7rem;
  padding: 50px;
}

.black-wrap {
  padding: 20px 60px;
  background-color: #111;
  margin-bottom: 10px;
  border-radius: 5px;
  font-family: "Hoves Medium", serif;
  font-size: 1.5rem;
  display: flex;
}

.black-wrap h6 {
  font-family: "Hoves Medium", serif;
  font-size: 1.5rem;
  margin-left: 15px;
}

.step {
  font-family: "Hoves Regular", serif;
  color: #ec6750;
  font-size: 122.88px;
  font-style: normal;
  font-weight: 400;
  line-height: 116.8%;
  /* 143.524px */
  letter-spacing: -1.352px;
  text-transform: uppercase;
}

.step-text {
  font-family: "Hoves Regular", serif;
  color: #fff;
  font-size: 25px;
  font-style: normal;
  font-weight: 500;
  line-height: 133.3%;
  /* 33.325px */
  letter-spacing: -0.275px;
  width: 80%;
}

.step-image {
  margin-top: -45px;
}

@keyframes slide {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-100%);
  }
}

.logos {
  overflow: hidden;
  white-space: nowrap;
  position: relative;
}

.logos:before,
.logos:after {
  position: absolute;
  top: 0;
  content: "";
  z-index: 2;
}

.logos:before {
  left: 0;
}

.logos:after {
  right: 0;
}

.logos-slide {
  display: inline-block;
  animation: 60s slide infinite linear;
}

.logos-slide img {
  margin: 0 10px;
}

/* **********ACCORDION************************ */

.accordion {
  margin: 40px 0;
}

.accordion .item {
  margin-bottom: 20px;
  align-items: center;
}

.t-p {
  color: white;
  background-color: #111;
  padding: 40px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.accordion .item .item-header h2 button.btn.btn-link {
  background: #111;
  color: white;
  font-family: "Hoves Demi";
  text-decoration: none;
}

.accordion .item .item-header {
  border-bottom: none;
  background: transparent;
}

.accordion .item .item-header h2 button {
  color: white;
  font-size: 26px;
  padding: 15px;
  display: block;
  width: 100%;
  text-align: left;
  padding-left: 60px;
  display: flex;
  justify-content: space-between;
}

.accordion .item .item-header h2 i {
  float: right;
  font-size: 30px;
  background-image: url("../img/accordionbutton.png");
  background-size: cover;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

button.btn.btn-link.collapsed i {
  transform: rotate(0deg);
}

button.btn.btn-link i {
  transform: rotate(90deg);
  transition: 0.5s;
}

/* ********MODULE********************** */
.module-wrap {
  margin-bottom: 60px;
}
.digit-module {
  color: #666;
  font-family: "Hoves Demi";
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 116.8%; /* 23.36px */
  letter-spacing: -0.22px;
  margin-right: 15px;
}
.module-h {
  color: #e14d2c;
  font-family: "Hoves Demi";
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 116.8%; /* 23.36px */
  letter-spacing: -0.22px;
  text-transform: uppercase;
}
.module-text {
  color: #fff;
  font-family: "Hoves Medium";
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 116.8%; /* 23.36px */
  letter-spacing: -0.22px;
}
.module-bottom-text {
  color: #666;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 116.8%; /* 23.36px */
  letter-spacing: -0.22px;
  text-transform: uppercase;
  font-family: "Hoves Demi";
}

/* ********RESULT********************** */

.result-wrap {
  border-radius: 11px;
  border: 2px solid #ec6750;
  margin: 10px;
  padding: 15px;
  align-items: center;
}
.result-wrap img {
  width: 60px;
  height: 60px;
}
.result-text {
  color: #fff;
  font-family: "Hoves Regular";
  font-size: 21px;
  font-style: normal;
  font-weight: 500;
  line-height: 133.3%;
  /* 33.325px */
  letter-spacing: -0.275px;
  text-align: left;
  margin-left: 60px;
}

/* ******FOOTER********** */

.foo-text {
  font-family: "Hoves Regular", serif;
}
.foo-btn {
  font-family: "Hoves Regular", serif;
  font-size: 2.5em;
  max-width: 100%;
  margin-top: 10%;
}
.foo-btn-txt {
  font-family: "Hoves Regular", serif;
  font-size: 1rem;
  width: 100%;
  text-align: center;
}
